// body {
//     background : red;
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    display: flex;
    justify-content: center;
}

.home {
    position: relative;
    margin-top: 15%;
}